@font-face {
    font-family: "Parisienne";
    src: url("font/Parisienne-Regular.ttf");
}
@font-face {
    font-family: "Pacifico";
    src: url("font/Pacifico-Regular.ttf");
}
@font-face {
    font-family: "Italianno";
    src: url("font/Italianno-Regular.ttf");
}

html {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

body hr {
    border-top: solid 1px white;
    margin: 10px;
    padding: 10px;
}

.navbar-brand {
    font-family: "Parisienne";
    border: solid 1px #a0a0a0;
    padding: 0 8px 0 5px;
    box-shadow: 0px 0px 3px #a0a0a0;
}

.font-style1 {
    font-family: "Italianno";
    font-size: x-large;
}

.font-style2 {
    font-family: "Parisienne";
    padding: 15px 0 10px 0;
}

/* ******************main-divhez tartozó**************** elemek */
.main-div {
    width: 60%;
    height: 85%;
    background-color: black;
    position: absolute;
    left: 20%;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 0 5px black;
    overflow: auto;
}

.main-div::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}


.main-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(230, 230, 230, 0.3);
  }

.main-div::-webkit-scrollbar-thumb {
    background-color: grey;
    outline: 1px solid slategrey;
}

.test-div {
    background-color: white;
}

/* *************************************************** */
.font-color {
    color: darkgray;
}

.white-span {
    color: white;
}

.white-span:hover {
    color: lightgray;
}

.order-h1 {
    margin: 10px 0 30px 0;
    font-family: "Parisienne";
    text-align: center;
}

table img {
    width: 70px;
    height: 90px;
}

table td {
    font-family: "Parisienne";
    font-size: x-large;
}

#map {
    height: 96%;
    width: 96%;
}
/* *****************order.html****************** része */
div .hide {
    display: none;
}

#order-form {
    margin: 0 10% 0 10%;
}

/* *************wedding-inv.html**************** része */
div .popover-style {
    padding: 0;
}

div .popover-style:hover {
    position:relative;
    right:5px; 
    bottom:5px;
}

#wedding-gallery {
    margin-left: 12%;
    margin-top: 3%;
}

#wedding-gallery div img {
    border-radius: 20px;
}

#wedding-gallery div img:hover{
    opacity: 0.7;
}

#wedding-gallery div {
    padding: 0;
}